@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap");
body {
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px;
}

.first-section {
  width: 100%;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
      grid-template-areas: 'left center right';
}

.first-section .center {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: center;
  font-family: 'Red Hat Display', sans-serif;
  text-align: center;
  margin: 0 25px;
}

.first-section .center h1 {
  color: #28283D;
  font-size: 55px;
}

.first-section .center p {
  color: gray;
}

.first-section .center .button {
  padding: 1.2rem 2rem;
  border-radius: 35px;
  margin-right: 2%;
  color: #FAFAFA;
  border: none;
  font-weight: 600;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.first-section .center .button span {
  color: #41cffa;
}

.first-section .center .button.blue {
  background-color: #4D96A9;
}

.first-section .center .button.blue:hover {
  background-color: #33d1f8;
}

.first-section .center .button.purple {
  background-color: #855FB1;
}

.first-section .center .button.purple:hover {
  background-color: #ca9dfd;
}

.first-section .people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 300px;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.first-section .people.left-people {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: left;
  margin-top: -60px;
}

.first-section .people.right-people {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: right;
  margin-top: -100px;
}

.first-section .people .group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 5px;
}

.first-section .people .group img {
  width: 100%;
  margin: 5px;
  border-radius: 50%;
}

.first-section .people .left-second-group {
  margin-bottom: 50px;
}

.first-section .people .right-second-group {
  margin-top: 50px;
}

.vertical-element {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vertical-element .vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 0 10px 0;
}

.vertical-element .vertical hr {
  width: 1px;
  height: 60px;
  margin: 0 23px;
}

.vertical-element .vertical p {
  margin: 0;
  border: 1px solid #b6b6b6;
  height: 3rem;
  border-radius: 50%;
  width: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4%;
  font-weight: bold;
  background-color: #FAFAFA;
  font-size: 0.9em;
}

.main-content {
  text-align: center;
}

.main-content img {
  border-radius: 6px;
  width: 17%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 30px;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  margin-top: 60px;
}

.about-modern {
  font-family: Red Hat Display;
  font-style: normal;
  margin-bottom: 30px;
}

.about-modern p {
  text-align: center;
  color: #4D96A9;
  text-transform: uppercase;
  width: 50%;
  margin: 5% auto 0 auto;
  font-weight: bold;
  letter-spacing: 3px;
}

.about-modern h2 {
  font-weight: 900;
  font-size: 40px;
  line-height: 44px;
  text-align: center;
  color: #28283D;
  text-align: center;
}

.about-modern h6 {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #87879D;
}

.footer {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#87bdd6ba), to(#4d96a9)), url(./starter_code/starter-code/assets/desktop/image-footer.jpg);
  background-image: linear-gradient(to bottom, #87bdd6ba, #4d96a9), url(./starter_code/starter-code/assets/desktop/image-footer.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer h2 {
  font-family: Red Hat Display;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 44px;
  text-align: left;
  color: white;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  width: 33.33%;
}

.footer p {
  font-family: Red Hat Display;
  font-style: normal;
  line-height: 26px;
  text-align: left;
  width: 33.33%;
  color: white;
}

.footer button {
  padding: 1.2rem 2rem;
  border-radius: 35px;
  margin-right: 2%;
  color: #FAFAFA;
  border: none;
  font-weight: 600;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.footer button span {
  color: #41cffa;
}

.footer button.blue {
  background-color: #4D96A9;
}

.footer button.blue:hover {
  background-color: #33d1f8;
}

@media screen and (max-width: 768px) {
  .first-section {
    width: 100%;
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
        grid-template-areas: 'left right' 'center center';
  }
  .first-section .center {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: center;
    font-family: 'Red Hat Display', sans-serif;
    text-align: center;
    margin: 0 25px;
  }
  .first-section .center h1 {
    color: #28283D;
    font-size: 55px;
  }
  .first-section .center p {
    color: gray;
  }
  .first-section .center .button {
    padding: 1.2rem 2rem;
    border-radius: 35px;
    margin-right: 2%;
    color: #FAFAFA;
    border: none;
    font-weight: 600;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    cursor: pointer;
  }
  .first-section .center .button span {
    color: #41cffa;
  }
  .first-section .center .button.blue {
    background-color: #4D96A9;
  }
  .first-section .center .button.blue:hover {
    background-color: #33d1f8;
  }
  .first-section .center .button.purple {
    background-color: #855FB1;
  }
  .first-section .center .button.purple:hover {
    background-color: #ca9dfd;
  }
  .first-section .people {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 300px;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .first-section .people.left-people {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: left;
    margin-top: -60px;
  }
  .first-section .people.right-people {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: right;
    margin-top: -100px;
  }
  .first-section .people .group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 5px;
  }
  .first-section .people .group img {
    width: 100%;
    margin: 5px;
    border-radius: 50%;
  }
  .first-section .people .left-second-group {
    margin-bottom: 50px;
  }
  .first-section .people .right-second-group {
    margin-top: 50px;
  }
  .main-content {
    text-align: center;
  }
  .main-content img {
    border-radius: 6px;
    width: 17%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-right: 30px;
    -ms-grid-columns: auto auto auto auto;
        grid-template-columns: auto auto auto auto;
    margin-top: 60px;
  }
  .about-modern {
    font-family: Red Hat Display;
    font-style: normal;
    margin-bottom: 30px;
  }
  .about-modern p {
    text-align: center;
    color: #4D96A9;
    text-transform: uppercase;
    width: 50%;
    margin: 5% auto 0 auto;
    font-weight: bold;
    letter-spacing: 3px;
  }
  .about-modern h2 {
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    text-align: center;
    color: #28283D;
    text-align: center;
  }
  .about-modern h6 {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #87879D;
  }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer h2 {
    width: 80%;
    text-align: center;
  }
  .footer p {
    width: 80%;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */